* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 81%;
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 24px;
  justify-items: center;
  float: right;
}
.menu_icons {
  align-items: center;
  justify-items: center;
  display: flex;
  width: 28%;
  font-size: 24;
  justify-content: space-evenly;
}
.menu_icons div {
  padding: 5px;
  cursor: pointer;
}
.User_Image {
  display: block;
  width: 30%;
  border-radius: 50%;
}
